
nav {
    background-color: #fff;
    color: #333;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

nav .left-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-right: auto
}


nav ul li {
    margin-left:2px;
    position: relative; /* Position li elements relatively for dropdowns */
    display: flex; /* Use flexbox for li to center text vertically */
    align-items: center; /* Center the text vertically */
}

nav ul li a {
    color: #333;
    text-decoration: none;
    padding: 5px 10px 5px 10px;
}

.logo img {
    height: 20px; 
    margin-left: 10px;
    margin-top: 10px;
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #0b82f9;
    display: none;
    padding: 0;
}

.dropdown li {
    margin: 0;
    padding: 10px;
    display: block;
}

.dropdown li a {
    color: #fff;
    text-decoration: none;
}

nav ul li:hover .dropdown {
    display: block;
}

nav .right-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav button {
    background-color: rgb(43, 114, 202);
    color: white;
    padding: 10px;
    font-size: 15px;
    border-radius: 0%;
    display: flex;
    align-self: flex-start;
  }
#vr {
    border-left: 1px solid rgb(35, 34, 34);
    height: 30px;
    margin-top: 5px;
  }
  